/* General styling */

#cuerpo {
    font-family: "Nunito";
    background-color: #ffffff;
    padding: 20%;
    padding-top:0%;
}

header {
    margin: 2%;
    font-family: "Nunito";
}

#cuerpo h1 {
    font-size: 2.5rem;
    text-align: left;
}

#logo {
    display: grid;
    justify-content: center;
    width: 10%;
    background-color: #fdd306;
    border-radius: 5px;
}

section {
    margin-top: 3%;
}

h3 {
    font-family: "Nunito";
    font-size: 1.5rem;
    text-align: left;
}

section p {
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    color: #ffffff;
    border: #474747;
    border-radius: 10px;
    background-color: #474747;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "Exo";
}